*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Секретные ключи Firebase
google-services.json
*.json

# Отчёты тестов
**/build/reports/
**/build/test-results/

# Kotlin метаданные
.kotlin/